
.btn-primary {
    background-color: #8f6366;
    border: 1px solid #8f6366;
}

.btn-primary:focus {
    background-color: #8f6366;
    border: 1px solid #8f6366;
}

.show>.btn-primary.dropdown-toggle {
    background-color: #8f6366;
    border: 1px solid #8f6366;
}